@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Fredoka+One&family=Staatliches&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cfcdcd;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

h1 {
  font-family: "Fredoka One", cursiva;
}

h2, h3, h4, p, i {
  font-family: "Staatliches", cursiva;
}

header nav {
  height: 70px;
  background-color: #ebe6e6;
}
header nav .container-fluid {
  background-color: #ebe6e6;
  font-family: "Staatliches", cursiva;
}
header nav .container-fluid .logo {
  font-weight: 700;
  font-size: 1.5em;
}
header nav .container-fluid #navbarNav ul li .nav-link {
  position: relative;
  font-weight: 500;
  font-size: 1.3em;
  color: black;
}
header nav .container-fluid #navbarNav ul li .nav-link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #A69C94;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
}
header nav .container-fluid #navbarNav ul li .nav-link:hover:after {
  width: 100%;
  right: 0;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  background-color: #A69C94;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .ubicacion {
    align-items: center;
  }
}
.ubicacion__txt {
  display: flex;
  flex-direction: column;
}
.ubicacion iframe {
  border-radius: 20px;
}

footer {
  height: 160px;
  background-color: #ebe6e6;
}
footer .footer__logo img {
  width: 100px;
}
footer .footer__contacto img {
  width: 30px;
}

#hero, .sobrenosotros {
  background-image: url(../media/header/header-1920x1281.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 576px) {
  #hero, .sobrenosotros {
    height: 60vh;
  }
}
#hero::before, .sobrenosotros::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
#hero h1, .sobrenosotros h1 {
  color: #f8eed9;
  font-size: 2em;
}
@media (max-width: 576px) {
  #hero h1, .sobrenosotros h1 {
    font-size: 1.3em;
  }
}
#hero a, .sobrenosotros a {
  color: #f8eed9;
  font-family: "Fredoka One", cursiva;
  font-size: 1.6em;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#hero a:hover, .sobrenosotros a:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#hero a:focus, .sobrenosotros a:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#hero a:active, .sobrenosotros a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 576px) {
  #hero a, .sobrenosotros a {
    font-size: 1.2em;
  }
}

.sobrenosotros {
  background-image: url(../media/sobrenosotros/bg.jpg);
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .sobrenosotros {
    height: max-content;
    padding: 1em;
  }
}
.sobrenosotros p {
  color: #f8eed9;
}
.sobrenosotros h2 {
  color: #f8eed9;
}

.empresa {
  background-color: #A69C94;
  margin-top: 100px;
  padding: 2em 0;
  border-radius: 20px;
}
.empresa__logo img {
  width: 200px;
}

#proyectos {
  max-width: 1500px;
}
#proyectos .proyectos__tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}
#proyectos .proyectos__tarjeta:hover figure img {
  filter: blur(2px);
}
@media (max-width: 992px) {
  #proyectos .proyectos__tarjeta:hover figure {
    transform: perspective(600px) rotateY(0deg);
  }
}
#proyectos .proyectos__tarjeta figure {
  width: 350px;
  height: 400px;
  transition: all ease 0.5s;
  transform-style: preserve-3d;
  border-radius: 20px;
}
@media (max-width: 576px) {
  #proyectos .proyectos__tarjeta figure {
    width: 300px;
    height: 350px;
  }
}
#proyectos .proyectos__tarjeta figure .frontal,
#proyectos .proyectos__tarjeta figure .trasera {
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  border-radius: 20px;
}
#proyectos .proyectos__tarjeta figure .frontal {
  background: #000;
  backface-visibility: hidden;
}
#proyectos .proyectos__tarjeta figure .trasera {
  top: 0;
  color: rgb(255, 255, 255);
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: visible;
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(25, 44, 72) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, rgb(25, 44, 72)));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(25, 44, 72) 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(25, 44, 72) 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, rgb(25, 44, 72) 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, rgb(25, 44, 72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fbe8ca", endColorstr="#192c48", GradientType=0 );
}
@media (max-width: 992px) {
  #proyectos .proyectos__tarjeta figure .trasera {
    backface-visibility: visible;
    transform: perspective(600px) rotateY(0deg);
  }
}
#proyectos .proyectos__tarjeta figure .titulo {
  color: #fff;
}
#proyectos .proyectos__tarjeta figure hr {
  height: 2px;
  background: #fff;
  border: none;
  opacity: 0.5;
}
#proyectos .proyectos__tarjeta figure p {
  line-height: 22px;
}

.cont {
  max-width: 1200px;
}
.cont .carta {
  background-color: #A69C94;
  padding: 2em;
  box-shadow: 7px 13px 37px #000;
  border-radius: 20px;
}
.cont .carta img {
  width: 600px;
  height: 500px;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .cont .carta img {
    height: 300px;
    width: 420px;
  }
}
.cont__final {
  box-shadow: 3px 9px 9px #000;
  padding: 1em;
  background-color: #bdaea0;
  border-radius: 20px;
}

.galeria {
  margin-bottom: 20px;
}
.galeria__img .img__container {
  width: 350px;
  height: 350px;
  margin: 5px;
  padding: 0;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -12px 9px 15px -5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -12px 9px 15px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -12px 9px 15px -5px rgba(0, 0, 0, 0.6);
}
@media (max-width: 576px) {
  .galeria__img .img__container {
    width: 300px;
    height: 270px;
  }
}
.galeria__img .img__container:hover .img__overlay {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}
.galeria__img .img__container .img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.4);
  opacity: 0;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .galeria__img .img__container .img__overlay {
    opacity: 1;
    transform: scale(1);
  }
}
.galeria__img .img__container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.empleo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  background-image: url(../media/empleo/bkg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.empleo::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.empleo__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  max-width: 50em;
  position: relative;
}
@media (max-width: 576px) {
  .empleo__txt {
    align-items: center;
  }
}
.empleo__txt h1 {
  color: #f8eed9;
}
.empleo__txt h2 {
  color: #f8eed9;
}
.empleo__txt a {
  color: white;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.empleo__txt a:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #f8eed9;
}
.empleo__txt a:focus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #f8eed9;
  text-decoration: underline;
}
.empleo__txt a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #f8eed9;
  text-decoration: underline;
}

.margen {
  margin: 0 10px;
  margin-top: 50px;
}

.contacto {
  max-width: 1000px;
  height: 100vh;
}
.contacto .comunicate__icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.contacto .comunicate__icon:hover {
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
}
.contacto .comunicate__icon:focus {
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
}
.contacto .comunicate__icon:active {
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
}
.contacto .comunicate img {
  width: 50px;
  margin: 30px;
}

.form-register {
  max-width: 350px;
  background: #7c7064;
  padding: 30px;
  margin: auto;
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-family: "Staatliches", cursiva;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .form-register {
    margin: 0 10px;
  }
}
.form-register .controls {
  width: 100%;
  background: #A69C94;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  font-size: 20px;
  color: white;
  border-radius: 20px;
}
.form-register .botons {
  width: 100%;
  background: #A69C94;
  border: none;
  padding: 12px;
  color: rgb(255, 255, 255);
  margin: 16px 0;
  font-size: 1em;
  border-radius: 20px;
}
.form-register .botons {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.form-register .botons:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b9a693;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.form-register .botons:hover {
  color: black;
}
.form-register .botons:hover:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.form-register .botons:focus {
  color: black;
}
.form-register .botons:focus:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.form-register .botons:active {
  color: black;
}
.form-register .botons:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.form-register h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.form-register p {
  height: 40px;
  text-align: center;
  line-height: 40px;
}

/*# sourceMappingURL=style.css.map */
