*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto' ,sans-serif;
    background-color: #cfcdcd;
}

/*estilos generales*/
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
}
/*estilos generales*/


/*header*/

nav{
    height: 70px;
    background-color:#ebe6e6 ;
}
.logo{
    font-weight: 700;
    font-size: 1.5em;
}
.nav-link{
    position: relative;
    font-weight: 550;
    font-size: 1em;
    color: black;
}
.nav-link:after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #BFB6AE;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
}
.nav-link:hover:after{
    width: 100%;
    right: 0;
}

/*header*/
#hero{
    background-image: linear-gradient(
        0deg,
        rgba(54, 49, 49, 0.3),
        rgba(54, 49, 49, 0.3)
     )
    ,url(../media/header/header-4380x2923.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}

#hero h1{
    color: #f8eed9;
}
#hero a{
    color: #dbcdb1;
}

.nosotros__empleados{
    background-image: linear-gradient(
        0deg,
        rgba(54, 49, 49, 0.3),
        rgba(54, 49, 49, 0.3)
     )
    ,url(../media/sobrenosotros/bg.jpg);
    height: 55vh;
    background-position: center;
    background-size: cover;
    opacity: 1;
}
.nosotros__empleados p{
    color:#dbcdb1;
}
.nosotros__empleados h2{
    color: #f8eed9;
}

.nosotros__img img{
    width: 350px;
    height: 300px;
    margin-top: 200px;
}

.nosotros__empresa{
    background-color: #A69C94;
    margin-top: 200px;
    padding: 8em 0;
}
.nosotros__txt{
    width: 60%;
}
.nosotros__logo img{
    width: 200px;
}

#proyectos{
	max-width: 1500px;
}

.proyectos__tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.proyectos__tarjeta:hover figure img{
	filter:blur(2px);
}

figure{
	width: 350px;
	height: 400px;
	transition: all ease .5s;
	transform-style: preserve-3d;
}
figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	transition: all ease .5s;
}

figure .frontal {
	background: #000;
	backface-visibility: hidden;
}

figure .trasera {
	top: 0;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.proyectos__tarjeta figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

figure .trasera .titulo {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
}

.ubicacion{
    background-color: #A69C94;
}
.ubicacion iframe{
    width: 50%;
}
.ubicacion__txt{
    width: 70%;
}
/* como trabajamos */
.cont{
    max-width: 1200px; 
}

.cont__h1{
    width: 100%;
    height: 80px;
}

.cont .carta img{
    width: 600px;
    height: 500px;
}

/* como trabajamos*/

/*proyectos*/
.galeria{
    max-width: 1500px;
}

.img__container{
    min-width: 350px;
    max-width: 400px;
    min-height: 300px;
    max-height: 400px;
    margin: 5px;
}
.img__container img{
    width: 100%;
    height: 100%;
}
/*proyectos*/

/*empleo*/
.body{
    min-height: 95vh;
    max-width: 1200px;
}

/*empleo*/

/*contacto*/
.margen{
    margin: 0 10px;
    margin-top: 50px;
}
.contacto{
    max-width: 1000px;
    height: 100vh;
}
.comunicate img{
    width: 5vh;
    margin: 30px;
}
.form-register {
    max-width: 350px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }

  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 1em;
  }

/*contacto*/

/*footer*/
.footer{
    height: 160px;
    background-color: #e2e2e2;
}

.footer__logo img{
    width: 100px;
}

.footer__contacto img{
    width: 30px;
}
/*footer*/

@media screen and (max-width: 992px) { 
	figure .trasera {
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.proyectos__tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}
    .cont .carta img{
        height: 300px;
    }
}