$Main-color:#A69C94;
$Text-color:#f8eed9;
$Nav-color:#ebe6e6;

$Font-weight-normal:300;
$font-weight-medium:500;
$Font-weight-semibold:600;
$Font-weight-bold:700;
$Overlay-color:rgba(0,0,0, .6);

$Main-border:20px;