.margen{
    margin: 0 10px;
    margin-top: 50px;
}

.contacto{
    max-width: 1000px;
    height: 100vh;
    .comunicate{
        &__icon{
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: transform;
            transition-property: transform;
            &:hover{ 
                -webkit-transform: scale(2);
                transform: scale(2);
            }
            &:focus{
                -webkit-transform: scale(2);
                transform: scale(2);
            }
            &:active{
                -webkit-transform: scale(2);
                transform: scale(2);
            }
        }
        img{
            width: 50px;
            margin: 30px;

        }
    }
}
.form-register{
    max-width: 350px;
    background: #7c7064;
    padding: 30px;
    margin: auto;
    color: white;
    box-shadow: 7px 13px 37px #000;
    font-family: 'Staatliches', cursiva;
    border-radius: $Main-border;
    @include pc () {
        margin: 0 10px;
    }
    .controls{
        width: 100%;
        background:#A69C94;
        padding: 10px;
        margin-bottom: $Main-border;
        border: 1px solid #000000;
        font-size: $Main-border;
        color: white;
        border-radius: $Main-border;
    }
    .botons{
        width: 100%;
        background: #A69C94;
        border: none;
        padding: 12px;
        color: rgb(255, 255, 255);
        margin: 16px 0;
        font-size: 1em;
        border-radius: $Main-border;
    }
    .botons{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
            &:before{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #b9a693;
                border-radius: 100%;
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            &:hover{
                color: black;
                &:before{
                    -webkit-transform: scale(2);
                    transform: scale(2);
                }
            }
            &:focus{
                color: black;
                &:before{
                    -webkit-transform: scale(2);
                    transform: scale(2);
                }
            }
            &:active{
                color: black;
                &:before{
                    -webkit-transform: scale(2);
                    transform: scale(2);
                }
            }
}
    h4{
        font-size: 1.5em;
        margin-bottom: $Main-border;
    }
    p{
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
}
