.galeria{
    margin-bottom: $Main-border;
    &__img{
        .img__container{
            width: 350px;
            height: 350px;
            margin: 5px;
            padding:0;
            position: relative;
            border-radius: $Main-border;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: -12px 9px 15px -5px rgba(0,0,0,0.6);
            -webkit-box-shadow: -12px 9px 15px -5px rgba(0,0,0,0.6);
            -moz-box-shadow: -12px 9px 15px -5px rgba(0,0,0,0.6);
            @include tablet () {
                width: 300px;
                height: 270px;
            }
            &:hover .img__overlay{
                opacity: 1;
                transform: scale(1);
                cursor: pointer;
            }

            .img__overlay{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: $Overlay-color;
                color: #fff;
                border-radius: $Main-border;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: scale(.4);
                opacity: 0;
                transition: .5s;
                @include pc () {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: $Main-border;
                object-fit: cover;
            }
        }
    }
}