.ubicacion{
    display: flex;
    flex-direction: column;
    background-color: $Main-color;
    border-radius: $Main-border;
    @include pc (){
        align-items:center;
    }
    &__txt{
        display: flex;
        flex-direction: column;
        }
    iframe{
        border-radius: $Main-border;
    }
}